@using System.Data

<div class="row">
    <div class="row">
        <div class="col-md-12 bg-light text-end mb-3">
            <a asp-action="ViewUsers" asp-area="User" asp-controller="User"><button type="button" class="btn btn-success align-right"><i class="bi bi-plus-lg"></i> Add User</button></a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">User Table</h5>
            <!-- Default Table -->
            @if (ViewBag.User != "NULL")
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">UserId</th>
                            <th scope="col">UserName</th>
                            <th scope="col">UserRole</th>
                            <th scope="col">Email</th>
                            <th scope="col">Moblie</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow data in Model.Rows)
                        {
                            <tr>
                                <th scope="row">@data["UserID"]</th>
                                <td>@data["UserName"]</td>
                                <td>@data["UserRole"]</td>
                                <td>@data["Email"]</td>
                                <td>@data["Mobile"]</td>

                        <td>
                        @* <a asp-action="loc_cityedit" asp-route-id="@convert.toint32(@data["cityid"])" class="btn btn-primary btn-sm" title="upload new profile image"><i class="bi bi-pencil-square"></i></a> *@
                                    <a asp-action="DeleteUsers" asp-route-id="@Convert.ToInt32(@data["UserID"])" class="btn btn-danger btn-sm" title="remove my profile image"><i class="bi bi-trash"></i></a>
                        </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h3>No Record Found</h3>
            }
            <!-- End Default Table Example -->
        </div>
    </div>
</div>