@using System.Data;

@if(TempData["Message"] != null)
{
    <div class="Message" style="border-radius: 5px; border-block-color: darkgreen; text-align: center; border:dashed; background-color:palegreen; background-blend-mode:lighten ">
        <p>@TempData["Message"]</p>
    </div>
}




@* if (TempData["message"] != null)
{
    if (TempData["message"].ToString().Contains("Successfully"))
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle me-1"></i>
            @TempData["message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    else
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">Product Not Deleted</h4>
            <p>@TempData["message"]</p>
            <hr>
            <p class="mb-0">Somthing Went Wrong!</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

} *@

<div class="row">
    
    <div class="card" style="padding-left: 0px, padding-right: 0px">
        <div class="card-body">
            <div class="row justify-content-between align-items-center">
                <h5 class="card-title col-3">Product Table</h5>
                <div class="col-6"> 
                    <div class="text-end">
                        <a asp-action="AddEditProducts" asp-area="Product" asp-controller="Product"><button type="button" class="btn btn-success align-right"><i class="bi bi-plus-lg"></i> Add Product</button></a>
                        <a class="btn btn-success" asp-area="Product" asp-controller="Product" asp-action="ExportProductsToExcel">
                            <span> Export table to Excel</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Default Table -->
            @if (ViewBag.Product != "NULL")
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ProductID</th>
                            <th scope="col">ProductName</th>
                            <th scope="col">CategoryID</th>
                            <th scope="col">FlavourID</th>
                            <th scope="col">Price</th>
                            <th scope="col">ProductDescription</th>
                            <th scope="col">Created</th>
                            <th scope="col">Modified</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow data in Model.Rows)
                        {
                            <tr>
                                <th scope="row">@data["ProductID"]</th>
                                <td>@data["ProductName"]</td>
                                <td>@data["CategoryID"]</td>
                                <td>@data["FlavourID"]</td>
                                <td>@data["Price"]</td>
                                <td>@data["ProductDescription"]</td>                                
                                <td>@Convert.ToDateTime(data["Created"]).ToString("dd-MM-yyyy")</td>
                                <td>@Convert.ToDateTime(data["Modified"]).ToString("dd-MM-yyyy")</td>
                                <td>
                                    <a asp-action="EditProducts" asp-route-ProductID="@Convert.ToInt32(@data["ProductID"])" class="btn btn-primary btn-sm" ><i class="bi bi-pencil-square"></i></a>
                                    <a asp-action="DeleteProducts" asp-route-ProductID="@Convert.ToInt32(@data["ProductID"])" class="btn btn-danger btn-sm" ><i class="bi bi-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h3>No Record Found</h3>
            }
            <!-- End Default Table Example -->
        </div>
    </div>
</div>