@using System.Data

<div class="row">
    <div class="row">
        <div class="col-md-12 bg-light text-end mb-3">
            <a asp-action="ViewOrderDetails" asp-area="Orderdetail" asp-controller="Orderdetail"><button type="button" class="btn btn-success align-right"><i class="bi bi-plus-lg"></i> Add Orderdetail</button></a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Orderdetail Table</h5>
            <!-- Default Table -->
            @if (ViewBag.Orderdetail != "NULL")
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">OrderID</th>
                            <th scope="col">CartID</th>
                            <th scope="col">OrderItemName</th>
                            <th scope="col">OrderQuantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow data in Model.Rows)
                        {
                            <tr>
                                <th scope="row">@data["OrderID"]</th>
                                <td>@data["CartID"]</td>
                                <td>@data["OrderItemName"]</td>
                                <td>@data["OrderQuantity"]</td>

                        <td>
@*                         <a asp-action="loc_cityedit" asp-route-id="@convert.toint32(@data["cityid"])" class="btn btn-primary btn-sm" title="upload new profile image"><i class="bi bi-pencil-square"></i></a>
 *@                        <a asp-action="DeleteOrderDetails" asp-route-OrderID="@Convert.ToInt32(@data["OrderID"])" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
                        </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h3>No Record Found</h3>
            }
            <!-- End Default Table Example -->
        </div>
    </div>
</div>